.marked {
    background-color: yellow;
}

.editor {
    min-width: 400px;
}

.row {
    margin: 0;
    padding: 0
}

.control {
    min-width: 30%;
    padding: 20px
}

* {
    font-family: 'IBM Plex Mono', monospace;
}

.input-text-field {
    width: 100px !important;
}

.input {
    margin: auto;
    height: 290px;
    overflow: auto;
}

.output {
    margin: auto;
    height: 290px;
    overflow: auto;
}

.stack {
    height: 300px;
    overflow: auto;
}

.stack-list {
    position: absolute;
    bottom: 0;
    width: 80%
}

.stack-list-item {
    max-width: 90%;
}

body {
    padding: 5px
}

.warning {
    background-color: orange;
    color: black;
    margin: inherit;
}

.warning-close-box {
    text-align: right;
    cursor: pointer;
}

.clock-speed-slider {
    direction: rtl
}
