.marked {
    background-color: yellow;
}

#editor {
    min-width: 40%;
}

* {
    font-family: 'IBM Plex Mono', monospace;
}

#input {
    margin: auto;
    height: 200px;
    overflow: auto;
}

#output {
    margin: auto;
    height: 200px;
    overflow: auto;
}

.stack {
    height: 300px;
    overflow: auto; 
}

.stack-list {
    position: absolute;
    bottom: 0;
    width: 80%
}

.stack-list-item {
    max-width: 90%;
}